/* utility-first (classes utilitarias)*/
.grid { 
  display: grid; /* grid é um container */
}

.grid-flow-col {
  grid-auto-flow: column; /* coloca os elementos em coluna */
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px; /* espaçamento entre os elementos */
}

.gap-32 {
  gap: 32px; /* espaçamento entre os elementos */
}

.text-2xl {  /* tamanho do texto 2x large */
  font: var(--h1);
}

.text-xl {  /* tamanho do texto */
  font: var(--h2);
}

.text-lg {  /* tamanho do texto large */
  font: var(--h3);
}

.text-sm {  /* tamanho do texto */
  font: var(--text-sm);
}